<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.videoweb.ying.dao.SysLoginMapper">



	<select id="selectIdPage" resultType="java.lang.Integer">
		select id from sys_login
		<where>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					or nick_name like CONCAT('%',#{cm.keyword},'%')
					or sys_name like CONCAT('%',#{cm.keyword},'%')
					or sys_pwd like CONCAT('%',#{cm.keyword},'%')
					or is_enable like CONCAT('%',#{cm.keyword},'%')
				)
			</if>
		</where>
	</select>
</mapper>
