<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.videoweb.ying.dao.TDataKeyMapper">



	<select id="selectIdPage" resultType="java.lang.Integer">
		select id from t_data_key
		<where>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					or data_key_type like CONCAT('%',#{cm.keyword},'%')
					or data_key like CONCAT('%',#{cm.keyword},'%')
					or data_value like CONCAT('%',#{cm.keyword},'%')
				)
			</if>
		</where>
	</select>
	<select id="getCupInfo" resultType="java.util.Map">
	   select 
	   data_value as name,
	   data_key as value
	   from t_data_key
	   where data_key_type ='ZHAOBEI';
	</select>
</mapper>
