<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.videoweb.ying.dao.TExtensionInfoMapper">



	<select id="selectIdPage" resultType="java.lang.Integer">
		select id from t_extension_info
		<where>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					or extension_url like CONCAT('%',#{cm.keyword},'%')
					or extension_context like CONCAT('%',#{cm.keyword},'%')
					or is_show like CONCAT('%',#{cm.keyword},'%')
				)
			</if>
		</where>
	</select>
	<select id="getExtensionInfo" resultType="java.util.Map">
		SELECT te.`extension_url` AS extensionUrl,
		te.`extension_context` AS extensionContext
		FROM t_extension_info te WHERE te.`is_show`=1
	</select>
</mapper>
