<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.videoweb.ying.dao.TRateMapper">



	<select id="selectIdPage" resultType="java.lang.Integer">
		select id from t_rate
		<where>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					or recharge_rate like CONCAT('%',#{cm.keyword},'%')
					or cron_rate like CONCAT('%',#{cm.keyword},'%')
					or cron_num like CONCAT('%',#{cm.keyword},'%')
					or most_price like CONCAT('%',#{cm.keyword},'%')
					or charge_fee like CONCAT('%',#{cm.keyword},'%')
				)
			</if>
		</where>
	</select>
	<select id="selectRate" resultType="java.util.Map">
		SELECT tr.id,
			tr.`charge_fee` AS chargeFee,
			tr.`cron_num` AS cronNum,
			tr.`cron_rate` AS cronRate,
			tr.`most_price` AS mostPrice,
			tr.`recharge_rate` AS rechargeRate
		FROM t_rate  tr LIMIT 1
	</select>
</mapper>
