<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.videoweb.ying.dao.TRechargeCodeMapper">



	<select id="selectIdPage" resultType="java.lang.Integer">
		select id from t_recharge_code
		<where>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					or agent_id like CONCAT('%',#{cm.keyword},'%')
					or recharge_code like CONCAT('%',#{cm.keyword},'%')
					or generation_time like CONCAT('%',#{cm.keyword},'%')
					or sales_time like CONCAT('%',#{cm.keyword},'%')
					or re_expire_time like CONCAT('%',#{cm.keyword},'%')
					or member_id like CONCAT('%',#{cm.keyword},'%')
					or is_sales like CONCAT('%',#{cm.keyword},'%')
					or is_activity like CONCAT('%',#{cm.keyword},'%')
					or activity_time like CONCAT('%',#{cm.keyword},'%')
				)
			</if>
		</where>
	</select>
	
	<select id="getRechargeCodeByCode" resultType="java.util.Map">
		SELECT 
			tr.id,
			tr.`recharge_code` AS rechangeCode
			 FROM t_recharge_code tr
			 WHERE tr.`is_sales`=2 AND tr.`is_activity` =1
			 AND tr.`recharge_code` =  #{rechargeCode}
	</select>
</mapper>
