<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.videoweb.ying.dao.TSearchMapper">



	<select id="selectIdPage" resultType="java.lang.Integer">
		select id from t_search
		<where>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					or search_name like CONCAT('%',#{cm.keyword},'%')
				)
			</if>
		</where>
	</select>
	
	<select id="searchName" resultType="java.util.Map">
		<!-- SELECT sh1.search_name as searchName FROM t_search AS sh1 
			JOIN 
			(SELECT 
				ROUND(
					RAND() * ((SELECT MAX(id) FROM t_search)-(SELECT MIN(id) FROM t_search)) 
					+ (SELECT MIN(id) FROM t_search)
				) AS id
			) AS sh2 
			WHERE sh1.id>=sh2.id
			LIMIT 8 -->
		SELECT sh1.search_name as searchName FROM t_search AS sh1 order by sh1.search_num desc limit 8;
	</select>
</mapper>
