<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.videoweb.ying.dao.TVideoTagsMapper">



	<select id="selectIdPage" resultType="java.lang.Integer">
		select id from t_video_tags
		<where>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					or video_id like CONCAT('%',#{cm.keyword},'%')
					or tag_id like CONCAT('%',#{cm.keyword},'%')
				)
			</if>
		</where>
	</select>
	
	<select id="getHotTags" resultType="java.util.Map">
		SELECT tta.id,tta.`name`,tta.`pic_url` AS picUrl,tta.pic_type as picType
		FROM t_video tv LEFT JOIN t_video_tags tvt ON tv.`id`= tvt.`video_id`
		LEFT JOIN t_tags tta ON tta.id = tvt.`tag_id`
		GROUP BY tta.id,tta.`name`
		ORDER BY tv.`play_num`  DESC
		LIMIT 0,8
	</select>
	
	
	
</mapper>
