<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.videoweb.ying.dao.TVipHistoryMapper">



	<select id="selectIdPage" resultType="java.lang.Integer">
		select id from t_vip_history
		<where>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					or member_id like CONCAT('%',#{cm.keyword},'%')
					or vip_id like CONCAT('%',#{cm.keyword},'%')
					or pay_time like CONCAT('%',#{cm.keyword},'%')
					or pay_no like CONCAT('%',#{cm.keyword},'%')
					or pay_price like CONCAT('%',#{cm.keyword},'%')
					or date_validity like CONCAT('%',#{cm.keyword},'%')
				)
			</if>
		</where>
	</select>
</mapper>
